# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.vs/

# Virtual environment
venv/
.env/

# =========================
# DATABASE (IMPORTANT)
# =========================
biometric.db
biometric_kyc.db

# =========================
# OUTPUT FILES
# =========================
outputs/
*.bmp
*.png
*.jpg

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# VISUAL STUDIO (C#)
# =========================
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Debug / Release
Debug/
Release/
x86/
x64/

# =========================
# DLL / EXE (OPTIONAL)
# =========================
*.exe
*.dll

# ⚠️ BUT KEEP THIS (important)
!MFS100Bridge.exe
!MANTRA.MFS100.dll

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db